.projectdetail_container {
    width: 86%;
    height: 90%;
    align-items: start; justify-content: center; display: flex;
    flex-direction: row;
    gap: 12px;
}

.projectdetail_container .neum {
    border-radius: 48px !important;
}

.projectdetail_container .attached_images {
    position: relative;
    width: 100%;
    flex: 1;
    align-self: stretch;
    align-items: center; justify-content: start; display: flex;
    overflow: hidden;
}

.projectdetail_container .attached_images .attached_images_content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center; justify-content: start; display: flex;
}

.projectdetail_container .attached_images .attached_images_control {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    align-items: center; justify-content: space-between; display: flex;
}

.projectdetail_container .attached_images .attached_images_control button {
    height: min-content;
    background: #ffffffcc;
    color: black;
    box-shadow: 0px 0px 12px #0003;
    padding: 12px;
    border-radius: 24px;
    margin: 12px;
    transition: .15s;
}

.projectdetail_container .attached_images .img_container {
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.projectdetail_container .attached_images img {
    position: absolute;
    align-self: stretch;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectdetail_container > div {
    align-items: start; justify-content: start; display: flex;
    flex-direction: column;
}




/* LEFT */

.projectdetail_container .left {
    min-width: 420px;
    align-self: stretch;
    gap: 12px;
}






/* RIGHT */

.projectdetail_container .right {
    box-sizing: border-box;
    width: 100%;
    min-width: 240px;
    height: 100%;
    overflow-x: hidden;
    align-items: start; justify-content: start; display: flex;
    flex-direction: column;
    gap: 24px;
}

.projectdetail_container .right .cover {
    position: relative;
    width: 100%;
    aspect-ratio: 3.5;
}

.projectdetail_container .right .cover .img_container {
    position: relative;
    width: 100%;
    aspect-ratio: 3.5;
    align-items: end; justify-content: end; display: flex;
}

.projectdetail_container .right .cover .img_container .upper {
    pointer-events: none;
    z-index: 900;
    padding: 24px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 48px 48px 0px 0px;
    filter: drop-shadow(0px 0px 16px #000000cc);
}

.projectdetail_container .right .cover img,
.projectdetail_container .right .cover video {
    position: absolute;
    width: 100%;
    height: 100%;
    /* aspect-ratio: 3.5; */
    object-fit: cover;
}

.projectdetail_container .right .cover video {
    opacity: 0;
    transition: .25s;
    transform: scale(1.006) translateY(-10px);
}

.projectdetail_container .right .cover .cover_gradient {
    position: absolute;
    width: 100%;
    aspect-ratio: 4;
    background: linear-gradient(0deg, #212832 3.5%, #21283233, #21283200 65%);
    transform: translateY(calc(-100% + 2px));
}

.cover a {
    position: absolute;
    z-index: 901;
    pointer-events: all;
    /* font-size: 12px; */
    position: absolute;
    z-index: 800;
    text-decoration: unset;
    color: #222;
    background: #fffa;
    padding: 8px 16px;
    margin: 24px;
    border-radius: 24px;
    align-items: center; justify-content: center; display: flex;
    gap: 6px;
    transition: .15s;
}

.cover a:hover {
    background: white;
}





.projectdetail_container .right .content {
    height: 100%;
    width: 100%;
    padding: 0px 24px;
    overflow-y: auto;
    box-sizing: border-box;
    align-items: start; justify-content: center; display: flex;
    flex-direction: column;
    gap: 24px;
}

.projectdetail_container .right h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

.projectdetail_container .right p span {
    font-weight: bold;
    color: white;
}

.projectdetail_container .right .content table tr td {
    vertical-align: baseline;
}

.projectdetail_container .right .content table tr td:first-child {
    font-weight: bold;
    /* color: white; */
    padding-right: 24px;
    
}

.projectdetail_container .right .content table tr td:nth-child(2) {
    font-weight: bold;
    /* color: white; */
    padding-right: 12px;
}

.projectdetail_container .right .content .skills_container {
    margin: 48px 0px;
    width: 100%;
    align-items: center; justify-content: center; display: flex;
    flex-direction: column;
    gap: 12px;
}

.projectdetail_container .right .content .skills_container .skills_img {
    height: 40px;
    align-items: start; justify-content: start; display: flex;
    gap: 12px;
}

.projectdetail_container .right .content .skills_container img {
    height: 100%;
}

.projectdetail_container .right .content .skills_container p {
    /* font-size: 14px; */
    font-style: italic;
}








/* PERSONNEL ITEM */

.projectdetail_container .team_container {
    min-height: 180px;
    padding: 24px;
    box-sizing: border-box;
    align-items: center; justify-content: center; display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: stretch;
    overflow-x: hidden;
    overflow-y: scroll;
}

.projectdetail_container .team_container b {
    color: white;
}

.projectdetail_container .team_container .content {
    width: 100%;
    align-items: center; justify-content: start; display: flex;
    flex-direction: column;
    gap: 24px;
}

.personnel {
    width: 100%;
    align-items: center; justify-content: start; display: flex;
    flex-direction: row;
    gap: 12px;
}

.personnel .personnel_photo {
    width: 48px;
    aspect-ratio: 1;
    border-radius: 18px;
}

.personnel .personnel_info {
    flex: 1;
}

.personnel .media {
    height: 24px;
    align-items: center; justify-content: start; display: flex;
    flex-direction: row;
    gap: 18px;
}

.personnel .media img {
    opacity: .4;
    height: 100%;
    transition: .15s;
}

.personnel .media img:hover {
    opacity: 1;
}