.projectitem_container {
    height: 100%;
    align-items: start; justify-content: center; display: flex;
}

.projectitem_container:nth-child(even) {
    align-items: end;
    margin-right: 96px;
}

.projectitem {
    min-height: 85%;
    min-width: 400px;
    aspect-ratio: 1;
    align-items: center; justify-content: center; display: flex;
    flex-direction: column;
    transition: .15s;
    transform: scale(1);
}

.projectitem:hover {
    transform: scale(1.01);
    /* filter: brightness(1.4); */
}





.projectitem .projectitem_cover {
    width: 100%;
}

.projectitem .projectitem_cover img {
    width: 100%;
    aspect-ratio: 2.8;
    object-fit: cover;
    filter: saturate(40%) contrast(130%);
    border-radius: 48px 48px 0px 0px;
    transition: .15s;
}

.projectitem:hover .projectitem_cover img {
    filter: saturate(70%);
}

.projectitem_gradient {
    position: absolute;
    width: 100%;
    aspect-ratio: 17;
    background: linear-gradient(0deg, #ede9ed 30%, #ede9ed00);
    transform: translateY(-100%);
    /* border-radius: 48px 48px 0px 0px; */
    display: none;
}





.projectitem_content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: start; justify-content: space-between; display: flex;
    gap: 6px;
    flex-direction: column;
    text-align: justify;
}

.projectitem_content .title {
    width: 100%;
    padding: 0px 24px;
    padding-top: 0px;
    box-sizing: border-box;
}

.projectitem_container .title h1 {
    color: black;
}





.projectitem .description {
    padding: 0px 24px;
    box-sizing: border-box;
}

.projectitem .description p span{
    color: black;
    font-weight: bold;
}





.projectitem .skills_related {
    min-width: 100%;
    padding: 0px 24px;
    box-sizing: border-box;
    align-items: center; justify-content: start; display: flex;
    gap: 12px;
}

.projectitem .skills_related img {
    height: 24px;
    padding: 12px 0px;
    object-position: top;
    /* aspect-ratio: 1; */
    /* object-fit: contain; */
}





.projectitem .btn_container {
    width: 100%;
    padding: 24px;
    padding-top: 0px;
    box-sizing: border-box;
    align-items: end; justify-content: end; display: flex;
    flex-direction: column;
}

.projectitem_container button {
    all: unset;
    padding: 12px 48px;
    border-radius: 100vh;
    background-color: black;
    color: white;
    align-items: center; justify-content: center; display: flex;
    transition: .15s;
}

.projectitem_container button:hover {
    box-shadow: 0px 0px 26px #ffffff33;
}