.popup_container {
    position: fixed;
    z-index: 500;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100svh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(9px) saturate(0%) sepia(20%);
    align-items: center; justify-content: center; display: flex;
    opacity: 0;
}

.popup_active {
    opacity: 1;
}

.popup_opening {
    animation: popup_toggle .25s forwards cubic-bezier(0.215, 0.610, 0.355, 1);
}

.popup_closing {
    animation: popup_toggle .25s reverse forwards cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes popup_toggle {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.popup_container .neum {
    border-radius: 24px;
    box-shadow: 0px 0px 24px rgba(33, 43, 49, 0.3);
}

.popup_container .btn_close {
    align-self: unset;
    color: var(--text_1);
    height: min-content;
    align-self: stretch;
    flex-shrink: 0;
    width: 60px;
    aspect-ratio: 1;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}

.popup_container .btn_close:hover {
    filter: brightness(120%);
    transform: scale(1.1);
}



.popup_container .popup_content {
    /* width: 90%; */
    /* height: 90%; */
    max-height: 800px;
    align-items: center; justify-content: center; display: flex;
    gap: 24px;
}




@media (max-width: 820px) {
    .popup_content {
        /* flex-direction: column-reverse; */
        gap: 12px !important;
    }
    .popup_container .btn_close {
        position: fixed;
        top: 12px;
        right: 12px;
        padding: 0px !important;
        width: 40px;
        border-radius: 12px;
    }
}