body {
    overflow-y: hidden;
}

.page_home {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100dvh;
    min-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.page_home .section {
    position: relative;
    scroll-snap-align: start;
    width: 100%;
    height: 100dvh;
    align-items: center; justify-content: space-between; display: flex;
    padding: 48px;
    box-sizing: border-box;
    transition: .4s;
    pointer-events: all !important;
}

@media (max-width: 820px) {
    .page_home .section {
        padding: 0px;
    }    
}

.page_home .section_top {
    width: 100%;
    height: 100dvh;
    scroll-snap-align: start;
    align-items: center; justify-content: center; display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page_home .initpage {
    animation: .3s initpage forwards linear;
}

@keyframes initpage {
    0% {
        opacity: 0;
        filter: brightness(0%) blur(4px);
    }
    100% {
        opacity: 1;
        filter: brightness(100%)  blur(0px);
    }
}

.page_home .section_top .maintitle {
    position: absolute;
    top: 10dvh;
    left: 0px;
    text-align: center;
    width: 100%;
    filter: var(--drop_shadow_1);
}

.page_home .section_top .maintitle h1 {
    font-size: 58px;
    display: inline;
}

@media (max-width: 720px) {
    .page_home .section_top .maintitle {
        position: static !important;
        top: unset;
        margin-bottom: 48px;
    }
    .page_home .section_top .btn_scrolldown {
        position: static !important;
    }
}

@media (max-width: 620px) {
    .page_home .section_top .maintitle h1 {
        font-size: 46px;
    }
}

@media (max-width: 420px) {
    .page_home .section_top .maintitle h1 {
        font-size: 36px;
    }
}





.page_home .section_top .mainlayout {
    pointer-events: none;
    z-index: 200;
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0; */
    /* left: 0; */
    padding: 12px;
    box-sizing: border-box;
    align-items: center; justify-content: center; display: flex;
    flex-direction: column;
}


.page_home .section_top .btn_scrolldown_container {
    align-items: center; justify-content: center; display: flex;
}

.page_home .section_top .btn_scrolldown {
    all: unset;
    pointer-events: all;
    position: fixed;
    top: 88dvh;
    color: black;
    padding: 12px 24px;
    border-radius: 100vh;
    background-color: white;
    align-items: center; justify-content: center; display: flex;
    animation: btn_scrolldown 2s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    gap: 12px;
    transition: .15s;
}

@keyframes btn_scrolldown {
    0% {
        opacity: 1;
        box-shadow: 0px 0px 26px #ffffff33;
    }
    50% {
        opacity: .5;
        box-shadow: 0px 0px 16px #ffffff00;
    }
    100% {
        opacity: 1;
        box-shadow: 0px 0px 26px #ffffff33;
    }
}


.page_home .section_top .btn_scrolldown:hover {
    background-color: #fff;
    transform: scale(1.04);
    box-shadow: 0px 0px 24px rgba(180, 180, 180, 0.3);
    animation: none;
}







/* SUMMARY SECTION ======================================== */
/* ======================================================== */

.page_home .summary_container {
    width: 100%;
    align-self: stretch;
    padding-left: 60px;
    box-sizing: border-box;
    align-items: start; justify-content: space-between; display: flex;
}

.page_home .summary {
    max-height: 800px;
    width: 50%;
    align-self: stretch;
    align-items: start; justify-content: center; display: flex;
    flex-direction: column;
    gap: 12px;
    transition: .15s;
}

@media (max-width: 1116px) {
    .page_home .summary_container {
        padding-left: 0px;
    }

    .page_home .summary {
        width: 65%;
    }
}

@media (max-width: 920px) {
    .page_home .summary {
        justify-content: end;
    }
}

@media (max-width: 820px) {
    .page_home .summary {
        padding: 60px 12px;
        justify-content: start;
        width: 100%;
    }
}

@media (max-width: 780px) {
    .page_home .summary {
        overflow-y: auto;
        overflow-x: auto;
        box-sizing: border-box;
        height: 100dvh;
        max-height: unset;
    }
}

.page_home .summary > div {
    padding: 24px;
    box-sizing: border-box;
    transition: .15s;
}

.page_home .summary .neum {
    background: var(--background_neum_2);
}

.page_home .summary > div:hover {
    transform: scale(1.01);
}

.dark_mode .page_home .summary > div:hover {
    box-shadow: 0px 0px 16px #151325;
}

.page_home .summary .upper {
    align-items: center; justify-content: start; display: flex;
    gap: 24px;
}


.page_home .summary h2 {
    /* color: var(--text_1); */
    font-size: 1.5em;
}

.dark_mode .summary h2 {
    filter: brightness(140%);
}

.page_home .nametitle {
    margin-bottom: 8px;
    align-items: center; justify-content: start; display: flex;
    gap: 12px;
}

.page_home .nametitle .img_small {
    width: 68px !important;
    aspect-ratio: 1;
    border-radius: 100vh;
    display: none;
}

@media (max-width: 600px) {
    .page_home .nametitle .img_small {
        display: flex;
    }
}

.page_home .summary .upper span {
    color: var(--text_1);
    font-weight: bold;
}

.page_home .summary .upper .img_container {
    width: 120px;
    flex-shrink: 0;
    border-radius: 100vh;
}

@media (max-width: 620px) {
    .page_home .summary .upper .img_container {
        display: none;
    }
}

.page_home .summary .upper img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 100vh;
}

.page_home .summary .lower {
    /* flex: 1; */
    /* max-height: 400px; */
    align-items: start; justify-content: start; display: flex;
    flex-direction: column;
    gap: 12px;
}

.page_home .summary .lower p {
    text-align: left;
}

.page_home .summary button p {
    color: white;
}

.page_home .summary .lower p span a {
    text-decoration: unset;
}

.page_home .summary .lower p span a svg {
    margin-left: 3px;
}

.light_mode .page_home .summary .lower p span a svg {
    filter: invert();
}

.page_home .summary .lower .btn_see_my_project {
    all: unset;
    padding: 12px 24px;
    border-radius: 100vh;
    background-color: var(--contrast_1);
    align-items: center; justify-content: center; display: flex;
    gap: 12px;
    transition: .15s;
}

.page_home .summary .lower .btn_see_my_project p {
    color: var(--contrast_2);
}

.page_home .summary .lower .btn_see_my_project:hover {
    box-shadow: 0px 0px 26px #ffffff33;
}




/* PROJECTS SECTION ======================================= */
/* ======================================================== */

.page_home .section_project {
    width: 100%;
    height: 100dvh;
    overflow-x: auto;
}

.page_home .section .projects_container {
    min-width: 100%;
    height: 100%;
    align-items: center; justify-content: space-between; display: flex;
}

.page_home .section .projects_container > .title {
    width: 50%;
    padding: 48px;
    margin-right: 48px;
    box-sizing: border-box;
}

.page_home .section .projects_container > .title h1 {
    font-size: 5em;
}

.page_home .section .projects_container > .title h2 {
    margin-top: 12px;
    font-weight: unset;
}

.page_home .section .projects_container .projects_content {
    flex: 1;
    align-items: start; justify-content: center; display: flex;
    height: 100%;
    max-height: 600px;
    gap: 12px;
}

@media (max-width: 780px) {
    .page_home .section .projects_container {
        justify-content: start;
        flex-direction: column;
    }

    .page_home .section .projects_container > .title {
        display: none;
    }

    .page_home .section .projects_container .projects_content {
        justify-content: start;
        flex-direction: column;
        overflow-y: auto;
        height: 100dvh;
        max-height: unset;
        width: 100%;
        padding: 60px 0px;
    }
}




/* SKILLS SECTION ========================================= */
/* ======================================================== */

.page_home .section .skills_container {
    justify-content: end;
    width: 50%;
}

.page_home .section .skills {
    padding-left: 48px;
    width: 100%;
    box-sizing: border-box;
}

.page_home .section .skills h1 {
    font-size: 4em;
}

.page_home .section .skills h3 {
    color: var(--text_1);
}

.page_home .section .skills button {
    padding: 12px 48px;
    border-radius: 100vh;
    background-color: white;
    color: black;
    align-items: center; justify-content: center; display: flex;
    gap: 12px;
    transition: .15s;
}

.page_home .section .skills button:hover {
    box-shadow: 0px 0px 26px #ffffff33;
}

@media (max-width: 720px) {
    .page_home .section .skills_container {
        width: 100%;
    }

    .page_home .section .skills h1 {
        font-size: 3em;
    }
}

@media (max-width: 600px) {
    .page_home .section .skills h1 {
        font-size: 2em;
    }
    .page_home .section .skills {
        padding-left: 18px;
    }
}




/* ACHIEVEMENTS SECTION =================================== */
/* ======================================================== */

.page_home .section .achievements_container {
    width: 80%;
    max-width: 800px;
    justify-content: end;
}

.page_home .section .achievements_container .title {
    width: 100%;
    padding-left: 48px;
    box-sizing: border-box;
}

.page_home .section .achievements_container .title h1 {
    font-size: 5em;
}

.page_home .section .achievements_container .title h2 {
    margin-top: 12px;
    font-weight: unset;
}

.page_home .section .achievements_container .title button {
    padding: 12px 48px;
    border-radius: 100vh;
    background-color: white;
    color: black;
    align-items: center; justify-content: center; display: flex;
    gap: 12px;
    transition: .15s;
}

.page_home .section .achievements_container .title button:hover {
    box-shadow: 0px 0px 26px #ffffff33;
}

@media (max-width: 1100px) {
    .page_home .section .achievements_container {
        justify-content: start;
    }
}

@media (max-width: 780px) {
    .page_home .section .achievements_container {
        width: 100%;
    }
    .page_home .section .achievements_container .title h1 {
        font-size: 3em;
    }
}

@media (max-width: 600px) {
    .page_home .section .achievements_container .title h1 {
        font-size: 2em;
    }
    .page_home .section .achievements_container .title {
        padding-left: 18px;
    }
}




/* CONTACT SECTION ======================================== */
/* ======================================================== */

.section.section_contact {
    height: unset !important;
    width: 100vw;
    min-height: 100lvh;
    /* scroll-snap-align: unset; */
}

.section .contact_container {
    width: 100%;
    align-items: center; justify-content: start; display: flex;
    gap: 24px;
    padding: 0px 24px;
    box-sizing: border-box;
}

.section .contact_container > div {
    flex: 1;
    align-self: stretch;
}

@media (max-width: 820px) {
    .section .contact_container {
        align-items: start;
        flex-direction: column;
        height: unset;
    }

    .section .contact_container > div {
        width: 100%;
        min-width: unset !important;
    }
}

.section .contact_container .child_1 {
    align-items: start; justify-content: center; display: flex;
    flex-direction: column;
    min-width: 520px;
}

.section .contact_container .child_1 h1 {
    font-size: 58px;
}

@media (max-width: 720px) {
    .section .contact_container .child_1 h1 {
        font-size: 58px;
    }
}

@media (max-width: 620px) {
    .section .contact_container .child_1 h1 {
        font-size: 46px;
    }
    .section .contact_container .child_1 {
        align-items: center;
    }
}

@media (max-width: 420px) {
    .section .contact_container .child_1 h1 {
        font-size: 36px;
        text-align: center !important;
    }
}