.allskills_container {
    background: #21283255;
    width: 50svw;
    max-width: 1000px;
    min-width: 280px;
    height: 80svh;
    max-height: 700px;
    overflow: hidden;
    align-items: start; justify-content: center; display: flex;
    flex-direction: column;
}

.allskills_container .upper {
    width: 100%;
    align-items: center; justify-content: center; display: flex;
    padding: 24px;
    box-sizing: border-box;
}

.allskills_container .input_container {
    width: 50%;
    align-items: center; justify-content: start; display: flex;
    gap: 12px;
    background-color: #212832;
    padding: 12px 24px;
    border-radius: 12px;
}

.allskills_container input {
    all: unset;
    width: 100%;
}

.allskills_container .content {
    width: 100%;
    padding-top: 0px;
    flex: 1;
    align-items: start; justify-content: start; display: flex;
    overflow-x: scroll;
}

.allskills_container .content .studied,
.allskills_container .content .suggested {
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
    align-self: stretch;
    overflow-y: auto;
    align-items: start; justify-content: start; display: flex;
    flex-direction: column;
}

.allskills_container .nodata_container {
    width: 100%;
    flex: 1;
    align-items: center; justify-content: center; display: flex;
    flex-direction: column;
    gap: 12px;
}

.allskills_container button {
    width: fit-content;
    padding: 12px 48px;
    border-radius: 100vh;
    background-color: #ffffff;
    color: #000;
    align-items: center; justify-content: center; display: flex;
    gap: 12px;
    transition: .15s;
}

.allskills_container button p {
    font-size: 1.04em;
}

.allskills_container button:hover {
    box-shadow: 0px 0px 26px #ffffff33;
}





/* SKILL ITEM */

.skillitem {
    align-items: center; justify-content: start; display: flex;
    gap: 24px;
    padding: 12px;
    align-self: stretch;
    break-inside: avoid;
}

.skillitem img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.skillitem .maininfo {
    flex: 1;
}

.skillitem .maininfo p:first-child {
    color: black;
}

.skillitem div p:last-child {
    color: #dddddd66;
}

.skillitem .dateinfo p {
    text-align: right;
}








/* SECTION NAVIGATION */

.section_upperbuttons {
    width: 100%;
    align-items: center; justify-content: start; display: flex;
    gap: 24px;
    padding: 12px 24px;
    box-sizing: border-box;
}

.section_upperbuttons .suggest_btn_container {
    flex: 1;
    align-items: center; justify-content: end; display: flex;
}

.section_upperbuttons .suggest_btn_container button {
    padding: 12px 18px;
}

.nav_btns_container  {
    align-items: center; justify-content: center; display: flex;
    gap: 12px;
    box-sizing: border-box;
}

.nav_btns_container button {
    all: unset;
    padding: 6px 12px;
    border-bottom: 3px solid transparent;
    transition: .15s;
}

.nav_btns_container .active_section {
    border-bottom: 3px solid black;
}

.nav_btns_container button:hover  {
    box-shadow: unset;
}

.nav_btns_container button:not(.active_section):hover  {
    border-bottom: 3px solid #ffffff22;
}

.nav_btns_container p {
    color: black;
    font-size: 20px;
}













/* SKILL SUGGESTION FORM */

.suggestionform_container {
    flex: 1;
    width: 100%;
    align-items: center; justify-content: space-evenly; display: flex;
    flex-direction: column;
}

.suggestionform_container .invalid {
    color: transparent;
}

.suggestionform_container .invalid_active {
    color: lightcoral;
}

.suggestionform_container h2, .suggestionform_container p {
    text-align: center;
}

.suggestionform_container .inputs {
    width: 100%;
    align-items: center; justify-content: center; display: flex;
    flex-direction: column;
    gap: 24px;
}

.suggestionform_container button.disabled {
    background: #1c222b;
    color: #4d5b6d;
}

.suggestionform_container button.disabled:hover {
    box-shadow: unset;
}

.suggestionform_container .btns_container {
    width: 100%;
    align-items: center; justify-content: center; display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn_cancel {
    background: transparent !important;
    color: #ffffffaa !important;
}