.allskills_container {
    background: var(--background_semitransparent);
    width: 50svw;
    max-width: 1000px;
    min-width: 280px;
    height: 80svh;
    max-height: 700px;
    overflow: hidden;
    align-items: start; justify-content: center; display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .allskills_container {
        width: calc(100svw - 48px);
        height: 76svh;
    }
}

.allskills_container .upper {
    width: 100%;
    align-items: center; justify-content: center; display: flex;
    padding: 24px;
    box-sizing: border-box;
}

.allskills_container .input_container {
    width: 50%;
    align-items: center; justify-content: start; display: flex;
    gap: 12px;
    background-color: var(--background_neum_3);
    padding: 12px 24px;
    box-sizing: border-box;
    border-radius: 12px;
}

@media (max-width: 600px) {
    .allskills_container .input_container {
        width: 100%;
    }
}

.allskills_container input {
    all: unset;
    width: 100%;
}

.allskills_container .content {
    width: 100% !important;
    padding-top: 0px;
    flex: 1;
    align-items: start; justify-content: start; display: flex;
    overflow-x: scroll;
}

.allskills_container .content .studied,
.allskills_container .content .suggested {
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
    align-self: stretch;
    overflow-y: auto;
    align-items: start; justify-content: start; display: flex;
    flex-direction: column;
}

.allskills_container .nodata_container {
    width: 100%;
    flex: 1;
    align-items: center; justify-content: center; display: flex;
    flex-direction: column;
    color: var(--text_1) !important;
    gap: 12px;
}

.allskills_container button {
    width: fit-content;
    padding: 12px 48px;
    border-radius: 100vh;
    background-color: white;
    color: black;
    align-items: center; justify-content: center; display: flex;
    gap: 12px;
    transition: .15s;
}

.allskills_container button p {
    font-size: 1.04em;
}

.allskills_container button:hover {
    box-shadow: 0px 0px 26px #ffffff33;
}





/* SKILL ITEM */

.skillitem {
    align-items: center; justify-content: start; display: flex;
    gap: 24px;
    padding: 12px;
    align-self: stretch;
    break-inside: avoid;
}

@media (max-width: 520px) {
    .skillitem {
        padding: 12px 0px;
    }
}

.skillitem img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

@media (max-width: 520px) {
    .skillitem img {
        width: 35px;
        height: 35px;
    }
}

.skillitem .maininfo {
    flex: 1;
}

.skillitem .maininfo p:first-child {
    color: var(--text_1);
}

.skillitem div p:last-child {
    color: var(--text_2);
}

.skillitem .dateinfo p {
    text-align: right;
}

@media (max-width: 480px) {
    .skillitem .dateinfo {
        display: none;
    }
}








/* SECTION NAVIGATION */

.section_upperbuttons {
    width: 100%;
    align-items: center; justify-content: start; display: flex;
    gap: 24px;
    padding: 12px 24px;
    box-sizing: border-box;
}

@media (max-width: 520px) {
    .allskills_container .section_upperbuttons {
        padding: 12px;
    }
}

.section_upperbuttons .suggest_btn_container {
    flex: 1;
    align-items: center; justify-content: end; display: flex;
}

@media (max-width: 520px) {
    .section_upperbuttons .suggest_btn_container {
        display: none;
    }
}

.section_upperbuttons .suggest_btn_container button {
    padding: 12px 18px;
}

.nav_btns_container  {
    align-items: center; justify-content: center; display: flex;
    gap: 12px;
    box-sizing: border-box;
}

.nav_btns_container button {
    all: unset;
    padding: 6px 12px;
    border-bottom: 3px solid transparent;
    transition: .15s;
}

.nav_btns_container .active_section {
    border-bottom: 3px solid var(--text_1);
}

.nav_btns_container button:hover  {
    box-shadow: unset;
}

.nav_btns_container button:not(.active_section):hover  {
    border-bottom: 3px solid #ffffff22;
}

.nav_btns_container p {
    color: var(--text_1);
    font-size: 20px;
}













/* SKILL SUGGESTION FORM */

.suggestionform_container {
    flex: 1;
    width: 100%;
    align-items: center; justify-content: space-evenly; display: flex;
    flex-direction: column;
    padding: 12px;
    box-sizing: border-box;
    color: var(--text_1);
}

.suggestionform_container .invalid {
    color: transparent;
}

.suggestionform_container .invalid_active {
    color: var(--text_invalid);
}

.suggestionform_container h2, .suggestionform_container p {
    text-align: center;
}

.suggestionform_container .inputs {
    width: 100%;
    align-items: center; justify-content: center; display: flex;
    flex-direction: column;
    gap: 24px;
}

.suggestionform_container button.disabled {
    background: #797d83;
    color: #98a0aa;
}

.suggestionform_container button.disabled:hover {
    box-shadow: unset;
}

.suggestionform_container .btns_container {
    width: 100%;
    align-items: center; justify-content: center; display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn_cancel {
    background: transparent !important;
    color: #ffffffaa !important;
}