.giantround_container {
    position: fixed;
    z-index: -20;
    /* display: none; */
    opacity: .8;
    transition: 1s;
}

.dark_mode .giantround_container {
    display: none;
}

.giantround_position {
    position: fixed;
    width: 100svw;
    height: 100dvh;
    align-items: center; justify-content: center; display: flex;
    transition: 1s;
}

.giantround_scale {
    animation: giantround_scale 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    transition: 1s;
}

@keyframes giantround_scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}

.giantround_relative {
    position: relative;
    width: 100svw;
    height: 100dvh;
    align-items: center; justify-content: center; display: flex;
    transition: 1s;
}

.giantround {
    position: fixed;
    z-index: 1;
    height: 90vh;
    width: 90vh;
    /* right: 0; */
    flex-shrink: 0;
    border-radius: 100%;
    background: linear-gradient(-45deg,
        /* #ffffff, */
        #bbc6cc 30%,
        #ffffff 90%
    );
    box-shadow: inset -2px -2px 24px rgba(24, 43, 80, 0.1);
    animation: gradientround_rotate 4.8s linear infinite;
    filter: blur(1px);
}

@keyframes gradientround_rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        transform: rotate(-360deg);
        opacity: 1;
    }
}

.giantround_shadow1 {
    position: fixed;
    z-index: 0;
    height: calc(90vh + 2px);
    width: calc(90vh + 2px);
    /* right: 0; */
    flex-shrink: 0;
    opacity: .5;
    border-radius: 100%;
    background: white;
    /* background: linear-gradient(-45deg, #f3f0f3, #b6bbbe00); */
    background: linear-gradient(-45deg, #f3f0f3, #b6bbbe00);
    box-shadow:
        inset -4px -4px 24px rgba(24, 43, 80, 0.1);
        /* inset 4px 4px 12px rgba(243, 250, 255, 1); */
    animation: giantround_shadow1_rotate 2.4s linear infinite;
    transition: 1s;
}

@keyframes giantround_shadow1_rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}