@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&family=Sunflower:wght@300&display=swap');

:root {
  cursor: url('./assets/svg/cursor.svg') 16 16, auto;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: #c8d3d3; */
  color: #b7c0c0;
  letter-spacing: .5px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100svh;
  background-color: #000000;
  scroll-behavior: smooth;
}

a {
  all: unset;
  text-decoration: underline;
}




/* SCROLL STYLING */
/* =========================================================== */

*::-webkit-scrollbar {
  display: none;
}

.scroll-container::-webkit-scrollbar {
  display: block;
  width: 6px;
  padding-left: 12px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

.scroll-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

/* =========================================================== */
/* =========================================================== */





h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 15px;
}

button {
  all: unset;
  pointer-events: all;
  box-sizing: border-box;
  align-self: stretch;
  align-items: center; justify-content: center; display: flex;
  gap: 12px;
  text-align: center;
  transition: .15s;
}

.gradient_text {
  background: linear-gradient(45deg, #ff9e70, #c2c3ff, #b941ce);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: drop-shadow(0px 0px 20px #e0ecff3a);
  transition: .3s;
}

.neum {
  border-radius: 48px;
  background: #212832;
  /* background: linear-gradient(-225deg, #212832, #3b2d3b); */
  /* box-shadow: 4px 4px 20px rgba(10, 10, 10, .5), -3px -3px 8px rgba(60, 162, 240, 0.07); */
  /* box-shadow: 4px 4px 20px rgba(10, 10, 10, .5); */
  transition: .15s;
  pointer-events: all;
}

.neum_hoverable:hover {
  box-shadow: 6px 6px 26px rgba(10, 10, 10, .6), -3px -3px 12px rgba(60, 162, 240, 0.08);
}



.gradient_border {
  padding: 3px;
  box-sizing: border-box;
  width: max-content;
  height: max-content;
  align-items: center; justify-content: center; display: flex;
  background: linear-gradient(45deg, #5aecff, #7259ff, #ff2cae);
  transition: .15s;
}

.gradient_border:hover, .neum_hoverable:hover .gradient_border {
  box-shadow: 0px 0px 12px rgba(255, 255, 255, .3);
}