.dimension_unsupported {
    width: 100svw;
    height: 100dvh;
    padding: 24px; box-sizing: border-box;
    align-items: center; justify-content: center; display: flex;
}

.dimension_unsupported .content {
    align-items: center; justify-content: center; display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.dimension_unsupported .content.init_openwithout3d_content {
    animation: .4s init_openwithout3d_content forwards cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes init_openwithout3d_content {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-10%);
    }
}

.dimension_unsupported p {
    max-width: 420px;
}

.dimension_unsupported p span {
    color: var(--text_1);
}

.dimension_unsupported img {
    width: 30svw;
    min-width: 110px;
    max-width: 160px;
    aspect-ratio: 1;
    border-radius: 100vh;
}

.dimension_unsupported button {
    all: unset;
    padding: 12px 48px;
    border-radius: 100vh;
    background: var(--contrast_1);
    color: var(--contrast_2);
}





.dimension_unsupported.init_openwithout3d {
    animation: .4s init_openwithout3d forwards linear;
}

@keyframes init_openwithout3d {
    0% {
        filter: blur(0px) brightness(100%);
        opacity: 1;
    }
    75% {
        filter: blur(9px) brightness(0%);
    }
    100% {
        filter: blur(12px) brightness(0%);
        opacity: 0;
    }
}