.customizedcursor_container {
    position: fixed;
    z-index: 600;
    align-items: center; justify-content: center; display: flex;
    pointer-events: none;
}

/* .customizedcursor {
    position: relative;
    top: -28px;
    left: -28px;
    width: 70px;
    height: 70px;
    background: radial-gradient(circle, rgba(0, 0, 0, .08), rgba(0, 0, 0, 0.5));
    border-radius: 100vh;
    transition: .15s opacity;
} */