.nav {
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100svw - 6px);
    backdrop-filter: blur(8px);
    align-items: center; justify-content: space-between; display: flex;
    padding: 6px;
    box-sizing: border-box;
    gap: 24px;
    transition: .3s;
}

.nav .ui_mode_controller {
    padding: 0px 12px;
}

.nav .nav_buttons {
    align-items: center; justify-content: center; display: flex;
    gap: 24px;
    transition: .3s;
}

.nav .nav_button {
    padding: 12px;
    font-size: 18px;
}

.nav_button:hover {
    color: var(--text_1) !important;
}

.nav_buttons:hover .nav_button {
    color: var(--text_3);
}