.nav {
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100svw - 6px);
    backdrop-filter: blur(8px);
    align-items: center; justify-content: space-between; display: flex;
    padding: 6px;
    box-sizing: border-box;
    gap: 24px;
    transition: .3s, 0s width;
    pointer-events: none;
}

.dark_mode .nav {
    background: linear-gradient(to bottom, #191925, #19192500);
}

.nav .btns_left {
    pointer-events: all;
    align-items: center; justify-content: space-between; display: flex;
    gap: 12px;
}

.nav .btns_left button {
    padding: 12px;
}

.dark_mode .btns_left button {
    filter: brightness(180%) drop-shadow(0px 0px 8px rgba(255, 108, 97, 0.9));
}

.nav .nav_buttons {
    pointer-events: all;
    align-items: center; justify-content: center; display: flex;
    gap: 24px;
    transition: .3s;
}

@media (max-width: 780px) {
    .nav {
        backdrop-filter: none;
    }

    .nav .nav_buttons {
        display: none;
    }
}

.nav .nav_button {
    padding: 12px;
    font-size: 18px;
}

.nav_button:hover {
    color: var(--text_1) !important;
}

.nav_buttons:hover .nav_button {
    color: var(--text_3);
}